<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="2;URL='/forum/{{.Board}}/'" />
<title>Board made</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
board made: <a href="/forum/{{.Board}}/">/{{.Board}}/</a>
</body>
</html>
