<html>
<head>
<title>Forum front page</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/forum/">Forum</a></div>
<img src="/forum/static/front.png" alt="WALITD" />
<table class="boardlist">
<tr>
<th>Name</th>
<th>Topic</th>
<th>Description</th>
</tr>
{{range .Boards -}}
<tr>
<td><a href="{{.Board}}/">{{.Board}}</a></td>
<td>{{.Topic | html}}</td>
<td>{{.Description | html}}</td>
</tr>
{{end -}}
</table>
</body>
</html>
