<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="2;URL='/forum/{{.Board}}/thread/{{$.ThreadID}}#{{$.PostID}}'" />
<title>Post made</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
post made: <a href="/forum/{{.Board}}/thread/{{$.ThreadID}}#{{$.PostID}}">#{{.PostID}}</a>
</body>
</html>
