<html>
<head>
<title>{{.Board}} - #{{.Thread.ID}}</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>

<div class="navigation">
<a href="/forum/">Forum</a>
&gt; <a href="/forum/{{.Board}}/">/{{.Board}}/</a>
{{if .Mod}}&gt; <a href="/forum/{{.Board}}/mod/">mod</a>{{end}}
&gt; <a href="./{{.Thread.ID}}">#{{.Thread.ID}}</a>
</div>

<table class="posts">

{{with .Thread.OP}}

<tr>
<td class="postuser">

{{with .UserIdent}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}

</td>

<td class="postbody">

<div class="postheader" id="{{.PostID}}">
<span class="posttitle">{{.Title | html}}</span>
<div class="postinfo">
<b>{{date .Date}}</b>
<a href="#{{.PostID}}">#</a>{{.PostID}}
</div>
<div style="clear: both;"></div>
</div>

{{if (gt (len .References) 0) -}}
<div class="replies">
{{range .References -}}
<a href="#{{.}}">&gt;&gt;{{.}}</a>
{{end -}}
</div>
{{end -}}
<div class="postcontainer">
{{if (gt (len .Files) 0) -}}
{{range .Files -}}
<div class="fcontainer">
<p style="margin-bottom:0; margin-top: 0">
{{- if .Valid -}}
<a href="/forum/{{$.Board}}/src/{{urlfile .Name}}/{{urlfile .Original}}">
{{- end -}}
{{html .Original}}
{{- if .Valid -}}
</a>
{{- end -}}
</p>
{{if .Valid}}<a href="/forum/{{$.Board}}/src/{{urlfile .Name}}">{{end}}<img src="{{.Thumb}}" alt="{{html .VName}}" />{{if .Valid}}</a>{{end}}
</div>
{{end -}}
{{if (gt (len .Files) 1)}}<div style="clear: both;"></div>{{end}}
{{if (eq (len .Files) 1)}}<br />{{end}}
{{end -}}
<div class="message">
{{.FMessage}}
</div>
{{if (le (len .Files) 1)}}<div style="clear: both;"></div>{{end}}
</div>
</td>
</tr>

{{end}}

{{range .Thread.Replies -}}

<tr>
<td class="postuser">

{{with .UserIdent}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}

</td>

<td class="postbody" style="position: relative;">

<div class="postheader" id="{{.PostID}}">
<span class="posttitle">{{.Title | html}}</span>
<div class="postinfo">
<b>{{date .Date}}</b>
<a href="#{{.PostID}}">#</a>{{.PostID}}
</div>
<div style="clear: both;"></div>
</div>

{{if (gt (len .References) 0) -}}
<div class="replies">
{{range .References -}}
<a href="#{{.}}">&gt;&gt;{{.}}</a>
{{end -}}
</div>
{{end -}}

<div class="postcontainer">
{{if (gt (len .Files) 0) -}}
{{range .Files -}}
<div class="fcontainer">
<p style="margin-bottom:0; margin-top: 0">
{{- if .Valid -}}
<a href="/forum/{{$.Board}}/src/{{urlfile .Name}}/{{urlfile .Original}}">
{{- end -}}
{{html .Original}}
{{- if .Valid -}}
</a>
{{- end -}}
</p>
{{if .Valid}}<a href="/forum/{{$.Board}}/src/{{urlfile .Name}}">{{end}}<img src="{{.Thumb}}" alt="{{html .VName}}" />{{if .Valid}}</a>{{end}}
</div>
{{end -}}
{{if (gt (len .Files) 1)}}<div style="clear: both;"></div>{{end}}
{{end -}}
<div class="message">
{{.FMessage}}
</div>
{{if (lt (len .Files) 1)}}<div style="clear: both;"></div>{{end}}
</div>
</td>
</tr>

{{end}}

</table>

</body>
</html>