<html>
<head>
<meta charset="UTF-8" />
<title>/{{.Board}}/ - {{.Topic | html}}</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation">
<a href="/forum/">Forum</a>
&gt; <a href="/forum/{{.Board}}/">/{{.Board}}/</a>
{{if .Mod}}&gt; <a href="/forum/{{.Board}}/mod/">mod</a>{{end}}
</div>

<form action="/forum/post" method="post" enctype="multipart/form-data">
<input name="board" type="hidden" value="{{$.Board}}" />
<table>
<tr>
<th>Name</th>
<td><input name="name" type="text" placeholder="optional poster name" /></td>
</tr>
<tr>
<th>Topic</th>
<td><input name="title" type="text" placeholder="post title" /></td>
</tr>
<tr>
<th>Email</th>
<td><input name="email" type="text" placeholder="post email" /></td>
</tr>
<tr>
<th>Message</th>
<td><textarea name="message" cols="40" rows="10"></textarea></td>
</tr>
<tr>
<td></td>
<td><input name="submit" type="submit" /></td>
</table>
</form>


<table class="threadlist">
<tr>
<th>ID</th>
<th>Subject</th>
<th>Started by</th>
<th>Replies</th>
<th>Last post</th>
{{if $.Mod -}}
<th>Delete</th>
{{end -}}
</tr>
{{range .Threads -}}
<tr>
<td><a href="thread/{{.ID}}">#{{.ID}}</a></td>
<td><a href="thread/{{.ID}}">{{.Title}}</a></td>
<td>
{{with .OP}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}
</td>
<td>{{.Replies}}</td>
<td>
<a href="thread/{{.ID}}#{{.LastID}}">{{date .Bump}}</a> by
{{with .Last}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}
</td>
{{if $.Mod -}}
<td>
<form action="/forum/delpost" method="post">
<input name="board" type="hidden" value="{{$.Board}}" />
<input name="post" type="hidden" value="{{.ID}}" />
<input name="submit" type="submit" value="Delete" />
</form>
</td>
{{end -}}
</tr>
{{end -}}
</table>
<table class="boardpages">
<tr>
{{range $index, $page := .Pages -}}
{{$ri := inc $index}}
{{if (eq $ri $.CurrentPage)}}<th class="activepage">{{else}}<td>{{end}}
{{if $page}}<a href="{{if (ne $ri 1)}}{{$ri}}{{else}}./{{end}}">{{$ri}}</a>{{else}}{{$ri}}{{end}}
{{if (eq $ri $.CurrentPage)}}</th>{{else}}</td>{{end}}
{{end -}}
</tr>
</table>
</body>
</html>
