<html>
<head>
<title>/{{.Board}}/ - {{.Topic | html}}</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation">
<a href="/forum/">Forum</a>
&gt; <a href="/forum/{{.Board}}/">/{{.Board}}/</a>
{{if .Mod}}&gt; <a href="/forum/{{.Board}}/mod/">mod</a>{{end}}
</div>
<table class="threadlist">
<tr>
<th>ID</th>
<th>Subject</th>
<th>Started by</th>
<th>Replies</th>
<th>Last post</th>
</tr>
{{range .Threads -}}
<tr>
<td><a href="thread/{{.ID}}">#{{.ID}}</a></td>
<td><a href="thread/{{.ID}}">{{.Title}}</a></td>
<td>
{{with .OP}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}
</td>
<td>{{.Replies}}</td>
<td>
<a href="thread/{{.ID}}#{{.LastID}}">{{date .Bump}}</a> by
{{with .Last}}
{{- if .User -}}
{{.User.UserName | html}}
{{- else -}}
{{- if .HasEmail -}}
<a class="email" href="mailto:{{.Email | urlquery}}">
{{- else -}}
<span class="name">
{{- end -}}

{{if .HasName}}{{.Name}} {{else}}{{if (not .HasTrip)}}Anonymous {{end}}{{end -}}
{{if .HasTrip}}<span class="trip">{{.Trip | html}}</span>{{end -}}

{{- if .HasEmail -}}
</a>
{{- else -}}
</span>
{{- end -}}
{{- end -}}
{{end}}
</td>
</tr>
{{end -}}
</table>
<table class="boardpages">
<tr>
{{range $index, $page := .Pages -}}
{{$ri := inc $index}}
{{if (eq $ri $.CurrentPage)}}<th class="activepage">{{else}}<td>{{end}}
{{if $page}}<a href="{{if (ne $ri 1)}}{{$ri}}{{else}}./{{end}}">{{$ri}}</a>{{else}}{{$ri}}{{end}}
{{if (eq $ri $.CurrentPage)}}</th>{{else}}</td>{{end}}
{{end -}}
</tr>
</table>
</body>
</html>
