<form action="" method="post" class="form">
    <table>
        <tr><td>Group Name</td><td><input type="text" name="name" value="{{.Name}}"></td></tr>
        {{.NameErr}}
        <tr><td>Group Description</td><td><input type="text" name="desc" value="{{.Description}}"></td></tr>
        <tr><td></td><td><input type="submit" value="Create group"></td></tr>
    </table>
</form>