<form action="" method="POST">
    <input type="hidden" name="act"  value="addFriend">
    <table class="table">
        <tr><td class="fr">Username</td><td><input type="text" name="user" value=""></td></tr>
        <tr><td></td><td><input type="submit" value="Add friend" class="btn btn-primary"></td></tr>
    </table>
</form>