<form action="" method="POST">
    <input type="hidden" name="act" value="remove">
    <table>
        <tr><td>Username</td><td><input type="text" name="group"></td></tr>
        <tr><td></td><td><input type="submit" value="Leave group"></td></tr>
    </table>
</form>
<form action="" method="POST">
    <input type="hidden" name="act" value="join">
    <table>
        <tr><td>Username</td><td><input type="text" name="group"></td></tr>
        <tr><td></td><td><input type="submit" value="Join group"></td></tr>
    </table>
</form>
{{.UsernameErr}}