<form action="" method="POST" class="form">
    <table>
        <tr><td>Group Name</td><td>{{.Name}}</td></tr>
        <tr><td>Description</td><td><input type="text" name="desc" value="{{.Description}}"></td></tr>
        <tr><td>Created</td><td>{{.Created}}</td></tr>
        <tr><td>Updated</td><td>{{.Updated}}</td></tr>
        <tr><td>Creator</td><td>{{.OwnerName}}</td></tr>
        <tr><td></td><td><input type="submit" value="Update"></td></tr>
    </table>
</form>