
    <table>
        <tr><td>Group Name</td><td>{{.Name}}</td></tr>
        <tr><td>Descripion</td><td>{{.Description}}</td></tr>
        <tr><td>Created</td><td>{{.Created}}</td></tr>
        <tr><td>Updated</td><td>{{.Updated}}</td></tr>
    </table>