<form action="" method="POST">
    <input type="hidden" name="act" value="remove">
    <table  class="table">
        <tr><td class="fr">Group name</td><td><input type="text" name="group"></td></tr>
        <tr><td></td><td><input type="submit" value="Leave group" class="btn btn-primary"></td></tr>
    </table>
</form>
<form action="" method="POST">
    <input type="hidden" name="act" value="join">
    <table class="table">
        <tr><td class="fr">Group name</td><td><input type="text" name="group"></td></tr>
        <tr><td></td><td><input type="submit" value="Join group" class="btn btn-primary"></td></tr>
    </table>
</form>
{{.UsernameErr}}