<form action="" method="POST" class="form">
    <table  class="table table-bordered">
        <tr><td class="fr">Group Name</td><td>{{.Name}}</td></tr>
        <tr><td class="fr">Description</td><td><input type="text" name="desc" value="{{.Description}}"></td></tr>
        <tr><td class="fr">Created</td><td>{{.Created}}</td></tr>
        <tr><td class="fr">Updated</td><td>{{.Updated}}</td></tr>
        <tr><td class="fr">Creator</td><td>{{.OwnerName}}</td></tr>
        <tr><td class="fr"></td><td><input type="submit" value="Update" class="btn btn-primary"></td></tr>
    </table>
</form>