<form action="" method="POST">
    <table class="form">
            <tr><td>
                <p> Username <br><input name="username" type="text"><p>
                <p> Password <br><input name="pass" type="password"><p>
                {{.Error}}
                <p><br><input type="submit" value="Login"><p>
            </td></tr>

    </table>
</form>