<table>
    <tr><td>Name</td><td>{{.FirstName}}</td></tr>
    <tr><td>Surname</td><td>{{.SecondName}}</td></tr>
    <tr><td>Username</td><td>{{.Username}}</td></tr>
    <tr><td>Role</td><td>{{.RoleN}}</td></tr>
    <tr><td>Birthday</td><td>{{.BirthDate}}</td></tr>
    <tr><td>City</td><td>{{.City}}</td></tr>
    <tr><td>Country</td><td>{{.Country}}</td></tr>
    <tr><td>Telephone</td><td>{{.Telephone}}</td></tr>
    <tr><td>GenderN</td><td>{{.GenderN}}</td></tr>
    <tr><td>Description</td><td>{{.Description}}</td></tr>
    <tr><td>Created</td><td>{{.Created}}</td></tr>
    <tr><td>Birthday</td><td>{{.Birthday}}</td></tr>
    <tr><td>Updated</td><td>{{.Updated}}</td></tr>
    <tr><td>Picture uploaded</td><td>{{.PictureCreatedPictureCreated}}</td></tr>
    <tr><td>Picture</td><td><img src="{{.Picture}}" alt="profile picture"></td></tr>
</table>