<form action="" method="POST">
    <input type="hidden" name="act"  value="remove">
    <table>
        <tr><td>Username</td><td><input type="text" name="user" value="{{.Username}}"></td></tr>
        <tr><td></td><td><input type="submit" value="Add friend"></td></tr>
    </table>
</form>