<table>
    <tr><td>User</td><td>Title</td><td>Group</td><td>Description</td><td>Created</td><td>Link</td></tr>
    <tr><td>{{.UserName}}</td><td>{{.Title}}</td><td>{{.Groupname}}</td><td>{{.Desc}}</td><td>{{.Created}}</td><td><a
            href="{{.Link}}"></a></td></tr>
</table>