<a href="../articles/createArticle/">Create Article</a>

<form action="" method="post" id="deleteArticle">
<p>Delete article named:<br>
<input name="delete" type="text" value="">
<p>Delete articles belonging to author:<br>
<input name="AuthorDelete" type="text" value=""><br>
<input type="submit" value="Submit">
</form>