<html>
<head>
<title>Forum front page</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/news/">Straipsniai</a></div>
<img src="/forum/static/front.png" alt="WALITD" />

<form action="" method="post">

<input type="radio" name="vote" value="like"> Like<br>
<input type="radio" name="vote" value="dislike"> Dislike<br>
<input name="vote" type="submit" value="Vote">

</form>

<table id="t01">
<tr>
    <td>Author: {{.Author | html}}</td>
    <td>Article score: {{.Score | html}}</td>
    <td>Publishing Date: {{.UploadDate | html}}</td>
    <td>Visit Count: {{.Visit_Count | html}}</td>
    <td>Category: {{.Category | html}}</td>
</tr>
</table>

<div><h> {{.Name | html}} </h></div>

<table class="article">
<td class="article"> <p> {{.Article | html}} </p> </td>
</table>
</body>
</html>
