<html>
<head>
<title>Article creation</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/news/">Straipsniai</a></div>
<img src="/forum/static/front.png" alt="WALITD" />

<form action="" method="post" id="articleForm">

<p>Article name <br>
<input name="name" type="text" value="">
</p>
<p>Article Description <br>
<input name="description" type="text" value="">
</p>
<p>Tags, seperated by commas <br>
<input name="tags" type="text" value="">
</p>

<input type="submit" value="Submit">

</form>
<p>Article <br>

<textarea rows="100" cols="150" name="article" form="articleForm">
</textarea>

</p>

</body>
</html>
