<html>
<head>
<title>Forum front page</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/forum/">Articles</a></div>
<img src="/forum/static/front.png" alt="WALITD" />
<table class="boardlist">
<tr>
<th>Author</th>
    <th>Name</th>
<th>Category</th>
<th>Score</th>
<th>VisitCount</th>
<th>Upload Date</th>
<th>Description</th>
<th>Link</th>
</tr>
{{range .Boards -}}
<tr>
<td><a href="../users/profile/{{.Author}}/">{{.AuthorName}}</a></td>
    <td>{{.Name | html}}</td>
<td>{{.Category | html}}</td>
<td>{{.Score | html}}</td>
<td>{{.Visit_Count | html}}</td>
<td>{{.UploadDate | html}}</td>
<td>{{.Description | html}}</td>
<td><a href="articles/{{.ID}}/">read more...</a></td>
</tr>
{{end -}}
</table>
</body>
</html>
