<html>
<head>
<title>Article creation</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/news/">Straipsniai</a></div>
<img src="/forum/static/front.png" alt="WALITD" />

<form action="" method="post" id="searchByName">
<p>Search by tags:  tags must be seperated by commas<br>
<input name="tags" type="text" value=""><br>
<input type="submit" value="Submit">
</form>
