<html>
<head>
<title>Article creation</title>
<link rel="stylesheet" type="text/css" href="/forum/static/site.css" />
</head>
<body>
<div class="navigation"><a href="/news/">Straipsniai</a></div>
<img src="/forum/static/front.png" alt="WALITD" />

<form action="" method="post" id="searchByName">
<p>Search by name<br>
<input name="name" type="text" value=""><br>
<p>Search by author<br>
<input name="author" type="text" value=""><br>
<p>Search by tags<br>
<input name="tags" type="text" value=""><br>
<input type="submit" value="Submit">
</form>


</body>
</html>
