body, table {
	font-family: arial,sans-serif,helvetica;
	font-size: 13px;
}

.posts {
	border: 0px none black;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}

td.postuser, td.postbody {
	border: 1px dashed black;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.postuser {
	height: 60px;
	width: 165px;
	background-color: #DDFFDD;
	padding-left: 4px;
}

td.article, td.postbody {
    border: 1px dashed black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.article {
	height: 60px;
	width: 600px;
	background-color: #DDFFDD;
	padding-left: 4px;
}

td.postbody {
	vertical-align: top;
}

.name {
	font-weight: bold;
	color: #227744;
}

.trip {
	color: #227744;
	font-weight: normal;
}

.email {
	font-weight: bold;
	color: #113366;
}

.navigation {
	background-color: #AAFFAA;
}

.boardlist {
	background-color: #BBBBFF;
}

.threadlist {
	background-color: #BBBBFF;
}

.boardpages {
	background-color: #AAFFAA;
}

.activepage {
	background-color: #EE8888;
}

.postbody {
	background-color: #EEFFEE;
}

.postheader {
	background-color: #88EE88;
}

.postinfo {
	float: right;
	padding-right: 2px;
}

.posttitle {
	font-weight: bold;
}

.postcontainer {
	padding-bottom: 4px;
	padding-right: 2px;
	padding-left: 2px;
}

.replies {
	background-color: #88EE88;
	font-size: 10px;
}

.fcontainer {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.message {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}

table#t01 {
    width: 100%;
    border: 1px solid black;
}